<div class="about-wrapper">
	<div class="about-well">
		
		<div class="img-wrapper">
			<%= image_tag 'about.png' %>
			<p class="caption">Samantha and Corbin LaMont, 1999</p>
		</div>

		<h1>Sister Signs</h1>

		<p><strong>You & Your Sister</strong> is a collection of sister culture.</p>

		<div class="main">
			<p>This is an ever growing digital archive. How do you define sisterhood? <strong>You & Your Sister</strong> is a part of <strong>Sister Signs</strong>, a collaborative showcase between two sisters, Samantha and Corbin LaMont. This multimedia show encourages viewers to enliven their relationship with their sisters, a platonic love greater than biology or gender.</p>
		</div>

		<p>This site was designed by <strong><a href="http://corbinlamont.com">Corbin LaMont</a></strong> and developed by <strong><a href="https://twitter.com/ivarvong">Ivar Vong</a></strong>.</p>

	</div>
</div>