.modal {
	opacity: 0.90;
	background: white;
	width: 600px;	
	margin-left: -300px;
	position: fixed;
	left: 50%;
	top: 20%;
	z-index: 30;
	display: none;
}

@media (max-width: 600px) {
	.modal {
		margin-left: 0;
		width: 100%;
		left: 0;
	}
	.modal a {
		font-size: 16px;		
	}

	.modal .main .left-pane, .modal .main .right-pane {
		width: 32% !important;
	}
	.modal .main .right-pane {
		padding-top: 20px !important;;
	}
}

.modal .header, .modal .footer {
	height: 40px;
}

.modal .top-shim, .modal .bottom-shim {
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	padding: 0;
	margin: 0 10%;
	height: 10px;
}
.modal .top-shim {
	border-top: 2px solid #000;
}
.modal .bottom-shim {
	border-bottom: 2px solid #000;
}

.modal .main {
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	margin: 0 10%;
	text-align: center;
	font-weight: 600;
	font-size: 20px
}
.modal a {
	text-decoration: none;
	line-height: 1.3em;
}

.modal .main .left-pane {
	float: left;
	border-right: 2px solid #000;
	width: 40%;
	margin: 20px 0;
	padding: 20px 20px;
}
.modal .main .right-pane {
	float: left;
	width: 40%;
	margin: 20px 0;
	padding: 20px 20px;
	padding-top: 32px;
}
.clearfix {
	clear: both;
}