<div class="modal">
	<div class="header"></div>
	<div class="top-shim"></div>
	<div class="main">
		<div class="left-pane">
			<%= link_to "Participate by logging in on Twitter", "/auth/twitter" %>
		</div>
		<div class="right-pane">
			<a href="#go-away-annoying-box" class="dismiss-modal">
				Nah, just stay here and observe.
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="bottom-shim"></div>
	<div class="footer"></div>
</div>